nav {
  /* flex: 1; */
  position: fixed;
  height: 100px;
  width: 100vw;
  background-color: red;
  /* z-index: 3; */
  color: white;
  /* flex-wrap: wrap; */
}


.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.nav-wrap {
  color: white;
 font-size: 80px; 
text-decoration: none;
}



.liked-movies-link{
  font-size: 15px;

}

.Settings-link {
  font-size: 15px;
}
