.main-frame {
  display: flex;
flex-direction: column;
align-items: center;
align-content: center;
height: 100%;
width: auto;


}
.movie-poster {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  

}
.movie-picture {
display: flex;
width:80%;


}

.buttons-row {
display: flex;
flex-direction: row;
justify-content: center;

border: thick black 2px;

}

.yes-button {
display:flex;
border-radius: 50%;
background-color: green;
height: 50px;
width: 50px;
justify-content: center;
align-items: center;
margin-left: 70px;
margin-top: 30px;
}

.no-button {
display: flex;
border-radius: 50%;
background-color: red;
height: 50px;
width: 50px;
justify-content: center;
align-items: center;
margin-top: 30px;
}

.home-holder {
  height: 350px;
  width: 240px;
}
.green-check{
  height: 70px;
  width:  70px;
  border-radius: 50%;
  border: 50% solid black 2px;
}

.red-x{
  height: 70px;
  width:  800px;
  border-radius: 50%;
  border: 50% solid black 2px;
  
}