.liked-movies {
  margin-top: 20vh;
}

.imug {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height:200px;
  width: 130px;
  
}

.liked-stuff {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  justify-items: left;
  justify-content: space-around;
  
  
}

.like-photos {
  border: solid black 4px;
  height: 200px;
  width: 130px;
  display: flex;
  /* padding: 20px; */
  background-image: url("https://t3.ftcdn.net/jpg/00/46/16/92/360_F_46169218_UD7x3BCcZER8rHageTnAmEW06mYhzlYJ.jpg");
}
/* 
.edit-button {
  height: 30px;
} */
.buttons-for-likes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  justify-items: center;
  height: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.curtains-border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height:240px;
  width: 170px;
  background-image: url("https://t3.ftcdn.net/jpg/00/46/16/92/360_F_46169218_UD7x3BCcZER8rHageTnAmEW06mYhzlYJ.jpg");
  border: solid 8px black;
  margin-top: 20px;
}

.delete-button {
  background-color: red;
  border: black solid 2px;
  font-size: larger;
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
        
}

.edit-button {
  background-color: green;
  border: black solid 2px;
  font-size: larger;
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.rating-answer{
  /* height: 30px; */
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}

.vote-register{
  height: 30px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  /* border: black solid 2px; */
}
.header-border{
  border: solid red 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 236, 209);
  
}

.one-line {
  background-color: black;
  border: solid red 4px;
  /* background-color: black; */
}

.two-line{
  border: yellow dotted 4px;

}

.header-box {
  border: rgb(250, 236, 209) solid 2px;
  background-color: rgb(250, 236, 209);
  /* width: 850px; */
  width: auto;
  font: larger;
  font-weight: bold;
}

.zero-line {
  border: black solid 3px;
  margin-left: 30px;
  margin-right: 30px;
}